RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9-]+)/(server-[a-zA-Z0-9-]+)/?$ player.php?match=$1&server=$2 [QSA,L]

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Forward /api requests to api.php
  RewriteCond %{REQUEST_URI} ^/api(?:/(.*))?$
  RewriteRule ^api(?:/(.*))?$ api.php?action=$1 [QSA,L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
